.DS_Store
node_modules/

# Swift
/.build
/Packages
xcuserdata/
DerivedData/
.swiftpm/
*.xcodeproj/project.xcworkspace/xcuserdata/
*.xcodeproj/xcuserdata/

# Android
*.iml
.gradle/
local.properties
.idea/
build/

# React Native
ios/Pods/
